* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  
  }
  
  body {
    background-color: white;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
  
  
  }
  
  .first {
  
    width: 100%;
    height: 70px;
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
  
  }
  
  .first img {
    width: 130px;
    margin: 0px 10px;
    padding: 5px 10px;
    border: 1px solid transparent;
    border-radius: 3px;
  }
  
  .first {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
  }
  
  .flex {
    display: flex;
    justify-content: center;
  
  }
  
  .flex span,
  i {
    color: white;
  
  }
  
  .logo {
  
    margin-right: 10px;
    justify-content: space-between;
  
  }
  
  .map {
    font-family: 'Source Sans Pro', sans-serif;
    border: 1px solid transparent;
    border-radius: 3px;
  
  }
  
  .map div {
    padding: 5px;
    /* display: flex; */
    cursor: pointer;
    /* flex-direction: column; */
  }
  
  .map div span:first-child {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 13px;
  }
  
  .map div span {
    font-weight: bold;
  }
  
  .right {
    /* border: 1px solid yellow; */
    justify-content: space-between;
    flex: 0.35;
    margin-right: 10px;
    align-items: center;
  
  }
  
  .input {
    font-family: 'Source Sans Pro', sans-serif;
  
    width: 100%;
    background-color: white;
    flex: 0.59;
    border-radius: 5px;
    display: flex;
    margin: 0 10px;
    align-items: center;
    overflow: hidden;
    justify-content: space-between;
  }
  
  .input input {
    font-family: 'Source Sans Pro', sans-serif;
    outline: none;
    width: 80%;
    font-size: 16px;
    padding: 10px 2px;
    border: none;
  
  }
  
  .input .fa-search {
  
    color: rgb(51, 51, 51);
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(211, 150, 19);
    border-radius: 0 5px 5px 0;
  }
  
  .input div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid gray;
    background-color: rgb(236, 234, 234);
    padding: 6px 0;
  }
  
  .input div span {
    border-radius: 5px 0 o 5px;
    color: rgb(51, 51, 51);
    padding: 6px 5px;
    font-size: 13px;
    cursor: pointer;
  
  }
  
  .input .fa-caret-down {
    color: rgb(51, 51, 51);
    cursor: pointer;
    padding: 5px;
  }
  
  .lang i {
    padding: 0;
    margin: 0;
    color: grey;
  }
  
  .lang {
    font-family: 'Source Sans Pro', sans-serif;
    margin-right: 4px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: 1px solid transparent;
    border-radius: 3px;
  
  }
  
  .right img {
    /* border: 1px solid white; */
    width: 30px;
    height: 30px;
    padding: 0px;
    margin: 0;
    padding-top: 10px;
    cursor: pointer;
  
  }
  
  .sign {
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    flex-direction: column;
    padding: 3px 6px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 3px;
  }
  
  .sign span:first-child {
    font-weight: 400;
    font-size: 13px;
  
  }
  
  .sign span {
    display: inline-block;
    font-weight: bold;
    width: 100%;
  }
  
  .flex .ac span {
    font-size: 15px;
    margin-right: 5px;
    font-weight: bold;
  }
  
  .fa-shopping-cart {
    font-size: 30px;
  }
  
  .ac {
    font-size: 14px;
    font-weight: bold;
  }
  
  .ac>i {
    color: grey;
  }
  
  .cart {
    align-items: flex-end;
    position: relative;
    padding: 5px 10px;
    border: 1px solid transparent;
    border-radius: 3px;
  }
  
  .cart p {
    position: absolute;
    font-weight: bolder;
    color: #714803;
    top: 5px;
    left: 25px;
  }
  
  .cart:hover {
    border: 1px solid white;
    border-radius: 3px;
  
  }
  
  .logo img:hover {
    border: 1px solid white;
    border-radius: 3px;
  
  }
  
  .map:hover {
    border: 1px solid white;
    border-radius: 3px;
  
  }
  
  .lang:hover {
    border: 1px solid white;
    border-radius: 3px;
  
  }
  
  .sign:hover {
    border: 1px solid white;
    border-radius: 3px;
  
  }
  
  .lang:hover {
    border: 1px solid white;
    border-radius: 3px;
  
  }
  
  .input .fa-search:hover {
    background-color: rgb(219, 136, 42);
  }
  
  .input div:hover {
    background-color: rgb(211, 230, 238);
    color: black;
  
  }
  
  .two {
    width: 100%;
    height: 42px;
    background-color: #232f3e;
    display: flex;
    align-items: center;
    color: white;
    overflow: hidden;
  }
  
  .two ul {
    align-items: center;
    list-style: none;
    display: flex;
    justify-content: flex-start;
  }
  
  .two span {
    font-size: 15px;
  }
  
  .two-1 div i {
    font-size: 20px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 3px;
  
  }
  
  .cart a {
    text-decoration: none;
    color: white;
  }
  
  .two li {
    font-weight: 800;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 5px 10px;
    font-size: 15px;
    margin: 7px 0;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 3px;
  
  }
  
  .two-1 {
    flex: 0.20;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .two-1 div {
    display: flex;
    align-items: center;
    padding-left: 5px;
  
  }
  
  .two-2 {
    display: flex;
  
    justify-content: flex-start;
  
  }
  
  .two-3 {
  
    flex: 0.90;
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: end;
    margin-right: 20px;
    overflow: hidden;
  }
  
  .two-3 span {
    font-weight: 900;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    color: #E0E0E0;
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 3px;
  }
  
  .two-1 div span {
    font-weight: 800;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .two-2>ul>li>a {
    text-decoration: none;
    color: white;
  }
  
  .two-3 i {
    color: #E0E0E0;
    margin-top: 3px;
    font-size: 25px;
  }
  
  .two-1 div:hover {
    border: 1px solid white;
  }
  
  .two-2 li:hover {
    border: 1px solid white;
  }
  
  .two-3 span:hover {
    border: 1px solid white;
  }